.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.navLink {
    padding: 0;
    margin: 0 10px;
    background-color: transparent;
    color: cornflowerblue;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    font-family: "Gill Sans", sans-serif;
}

.navLink:hover {
    text-decoration: underline;
}